*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #163238;
    color: white;
}
.container{
    position: relative;
}
.clock{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255, 0.2);
    border: 3px solid rgb(255, 255, 255, 0.3);
    box-shadow: 0 0 30px rgb(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock span{
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 12px;
    text-align: center;
}
.clock span b{
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 20px;
}
.clock::before{
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: white;
}
.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hand i{
    position: absolute;
    background-color:var(--clr);
    width: 4px;
    height: 70px;
    border-radius: 5px;
}